
<!-- List Users (retrieve, update and delete) -->
<div class="card box" id="userList" *ngIf="userRole == 'superAdmin' || userRole == 'groupAdmin'">
  <div class="card-body">
    <h4 class="card-title text-center mb-4 mt-1">Users</h4>
      <table class="table">
        <tr>
          <th>Username</th>
          <th>Role</th>
          <th></th>
          <th *ngIf="userRole == 'superAdmin'"></th>
        </tr>
        <tr style="padding-top:20px;" *ngFor="let user of userList"> 
          <td>{{user.username}}</td> 
          <td>{{user.role}}</td>  
          <td>
            <button class="btn btn-primary" [routerLink]="['/userUpdate', user.username]">Edit</button>
          </td>
          <td *ngIf="userRole == 'superAdmin'">
            <button class="btn btn-danger" (click)="deleteUserClicked(user.username)">Delete</button>
          </td>
        </tr>
        <!-- In the event of 'no users' -->
        <tr *ngIf="userList.length == 0">
          <td colspan="4" style="text-align: center;">
            There are no users in the database.
          </td>
        </tr>
    </table>
    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-block" [routerLink]="['/userCreate']">Create New User</button>
    </div>
  </div>
</div>

<!-- List Groups (retrieve, update and delete) -->
<div class="card box" id="groupList" *ngIf="userRole == 'superAdmin' || userRole == 'groupAdmin'">
  <div class="card-body">
    <h4 class="card-title text-center mb-4 mt-1">Groups</h4>
      <table class="table">
        <tr>
          <th>Name</th>
          <th>Users</th>
          <th></th>
          <th></th>
        </tr>
        <tr style="padding-top:20px;" *ngFor="let group of groupList"> 
          <td>{{group.name}}</td> 
          <td>{{group.totalUsers}}</td>  
          <td>
            <button class="btn btn-primary" [routerLink]="['/groupUpdate', group.name]">Edit</button>
          </td>
          <td>
            <button class="btn btn-danger" (click)="deleteGroupClicked(group.name)">Delete</button>
          </td>
        </tr>
        <!-- In the event of 'no groups' -->
        <tr *ngIf="groupList.length == 0">
          <td colspan="4" style="text-align: center;">
            There are no groups in the database.
          </td>
        </tr>
    </table>
    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-block" [routerLink]="['/groupCreate']">Create New Group</button>
    </div>
  </div>
</div>
<!-- /List Groups (retrieve, update and delete) -->

