#successFeedback{
    display: none;
}

#failFeedback{
    display: none;
}

#feedbackBar{
    display: none;
}

.box{
    max-width: 800px;
    min-width: 370px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.25rem;
}

#imageMessage{
    display: block;
}