
<!-- Profile Info -->
<div class="card">
  <img class="card-img-top" src="..." alt="Your profile picture.">
  <div class="card-body">
    <h5 class="card-title">Your Profile</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{profile.name}}</h6>
    <p class="card-text">You are a '{{profile.role}}'.</p>
    <form>
        <button type="submit" class="btn btn-primary btn-block" (click)="uploadClicked()" id="uploadButton">Upload Profile Pic</button>
    </form>
  </div>
</div>
<!-- /Profile Info -->

<!-- Group & Channel List -->
<div class="card" id="groupList">
  <div class="card-body">
    <h4 class="card-title text-center mb-4 mt-1">Your Groups</h4>
    <div class="just-padding">
      <div class="list-group list-group-root well">
        <!--groups-->
        <div *ngFor="let group of groups">
          <a class="list-group-item" (click)="toggleCollapse(group.name)">
            <i class="fa-angle-right fas" id="icon_{{group.name}}"></i>{{group.name}}
          </a>
          <!--channels-->
          <div class="list-group collapse" id="list_{{group.name}}">
            <div *ngIf="group.channels.length == 0">
              <a class="list-group-item">You are not in any channels in this group.</a>
            </div>
              <div *ngFor="let channel of group.channels">
                <a class="list-group-item">{{channel.name}}</a>
              </div>
          </div>
          <!--/channels-->
        </div>
        <!--/groups-->
        <!--no groups-->
        <div *ngIf="groups.length == 0">
          <a class="list-group-item">You are not in any groups.</a>
        </div>
        <!--/no groups-->
      </div>
    </div>
  </div>
</div>
<!-- /Group & Channel List -->