
<!-- Profile Info -->
<div class="card box">
  <img *ngIf="loggedInUser.image.length == 0" src="" class="card-img-top" id="profilePicture">
  <img *ngIf="loggedInUser.image.length !== 0" src="images/{{loggedInUser.image}}" class="card-img-top" id="profilePicture" alt="{{loggedInUser.image}}">
  <h1 id="profileTitle">Your Profile</h1>
  <div class="card-body">
    <form id="profilePicForm">
      <button [routerLink]="['/userUpdate', loggedInMongoID]" id="editButton" class="btn btn-primary btn-block" type="submit">Edit Profile</button>
    </form>
    <h5 class="card-title">{{loggedInUsername}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{loggedInRole}}</h6>
    <p>Generic profile information goes here. But apparently this is interesting enough, becuase there you are, reading this.</p>
  </div>
</div>
<!-- /Profile Info -->

<!-- Group & Channel List -->
<div class="card box" id="groupList">
  <div class="card-body">
    <h4 class="card-title text-center mb-4 mt-1">Your Groups</h4>
    <h6 class="card-subtitle mb-2 text-muted text-center" id="groupSubtitle">& Channels</h6>
    <div class="just-padding">
      <div class="list-group list-group-root well">
        <!--groups-->
        <div *ngFor="let group of groupList">
          <a class="list-group-item" (click)="toggleCollapse(group.name)">
            <i class="fa-angle-right fas" id="icon_{{group.name}}"></i>{{group.name}}
          </a>
          <!--channels-->
          <div class="list-group collapse" id="list_{{group.name}}">
            <div *ngIf="!group.channels.length">
              <a class="list-group-item text-center text-secondary">You are not in any channels in this group.</a>
            </div>
            <div *ngIf="group.channels.length">
              <div *ngFor="let channel of group.channels">
                <a class="list-group-item channelItem text-secondary">{{channel.name}}</a>
              </div>
            </div>
          </div>
          <!--/channels-->
        </div>
        <!--/groups-->
        <!--no groups-->
        <div *ngIf="!groupList.length">
          <a class="list-group-item text-center">You are not in any groups.</a>
        </div>
        <!--/no groups-->
      </div>
    </div>
  </div>
</div>
<!-- /Group & Channel List -->

<!-- Privileges -->
<div class="card box" id="roleList">
  <div class="card-body">
    <h4 class="card-title text-center mb-4 mt-1">'{{loggedInRole}}' Privileges</h4>
    <div class="just-padding">
      <div class="list-group list-group-root well">
        <!-- superAdmin -->
        <div *ngIf="loggedInRole == 'superAdmin'">
          <a class="list-group-item">See all users, groups and channels.</a>
          <a class="list-group-item">Create users, groups and channels.</a>
          <a class="list-group-item">Delete users, groups and channels.</a>
          <a class="list-group-item">Add users to groups and channels.</a>
          <a class="list-group-item">Remove users from groups and channels.</a>
          <a class="list-group-item">Change the role of any user to any user.</a>
        </div>
        <!-- /superAdmin -->
        <!-- groupAdmin -->
        <div *ngIf="loggedInRole == 'groupAdmin'">
          <a class="list-group-item">See all users, groups and channels.</a>
          <a class="list-group-item">Create users, groups and channels.</a>
          <a class="list-group-item">Delete groups and channels.</a>
          <a class="list-group-item">Add users to groups and channels.</a>
          <a class="list-group-item">Remove users from groups and channels.</a>
          <a class="list-group-item">Promote a user from 'regularUser' to 'groupAssistant'.</a>
        </div>
        <!-- /groupAdmin -->
        <!-- groupAssistant -->
        <div *ngIf="loggedInRole == 'groupAssistant'">
          <a class="list-group-item">Within groups user is a group assistant of:</a>
          <div class="list-group">
            <a class="list-group-item secondaryItem">Add or remove users from channels.</a>
            <a class="list-group-item secondaryItem">Create a channel.</a>
          </div>
        </div>
        <!-- /groupAssistant -->
        <!-- regularUser -->
        <div *ngIf="loggedInRole == 'regularUser'">
          <a class="list-group-item">You have no special privileges.</a>
        </div>
        <!-- /regularUser -->
      </div>
    </div>
  </div>
</div>
<!-- /Privileges -->