
ul{
    list-style: none;
}

#profileTitle {
    color: white;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.secondaryItem {
    padding-left: 50px;
}

.box{
    max-width: 800px;
    min-width: 370px;
    margin-left: auto;
    margin-right: auto;
}

#feedbackBar{
    display: none;
}

.card {
    margin-bottom: 2.25em;
}

#uploadButton {
    min-width: 170px;
    max-width: 170px;
}

#profilePicture {
    background-color: gray;
    min-height: 200px;
}

#profilePicForm {
    float: right;
}

.just-padding {
    padding: 15px;
}

.list-group.list-group-root {
    padding: 0;
    overflow: hidden;
}

.list-group.list-group-root .list-group {
    margin-bottom: 0;
}

.list-group.list-group-root .list-group-item {
    border-radius: 0;
    border-width: 1px 0 0 0;
}

.list-group.list-group-root > .list-group-item:first-child {
    border-top-width: 0;
}

.list-group.list-group-root > .list-group > .list-group-item {
    padding-left: 30px;
}

.list-group.list-group-root > .list-group > .list-group > .list-group-item {
    padding-left: 45px;
}

.list-group-item .glyphicon {
    margin-right: 5px;
}

.fa-angle-right {
    margin-right: 10px;
}

.fa-angle-down {
    margin-right: 10px;
}

.channelItem {
    padding-left: 50px;
}

#groupSubtitle {
    margin-top: -20px;
}