<!-- Login/Logout Card -->
    <div class="card box">
        <div class="card-body">
            <!-- Title -->
                <h4 *ngIf="!loginService.isLoggedIn" class="card-title text-center mb-4 mt-1">Login</h4>
                <h4 *ngIf="loginService.isLoggedIn" class="card-title text-center mb-4 mt-1">Logout</h4>
            <!-- /Title -->
            <hr>
            <!-- Login Form Feedback -->
                <div id="successFeedback">
                    <div *ngFor="let successMessage of successMessages">
                        <p class="text-success text-center">{{successMessage}}</p>
                    </div>
                </div>
                <div id="failFeedback">
                    <div *ngFor="let failMessage of failMessages">
                        <p class="text-danger text-center">{{failMessage}}</p>
                    </div>
                </div>
                <hr id="feedbackBar">
            <!-- /Login Form Feedback -->
            <!-- Form -->
                <form>
                    <!-- Login Form -->
                        <div *ngIf="!loginService.isLoggedIn">
                            <div class="form-group">
                                <div class="input-group">
                                    <input
                                        id="formUsername" class="form-control" placeholder="Username"
                                        type="text" [(ngModel)]="formUsername" name="formUsername"
                                    >
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <input 
                                        id="formPassword" class="form-control" placeholder="Password"
                                        type="password" [(ngModel)]="formPassword" name="loginFormPassword"
                                    >
                                </div>
                            </div>
                            <div class="form-group">
                                <button (click)="loginClicked()" type="submit" class="btn btn-primary btn-block">Login</button>
                            </div>
                        </div>
                    <!-- /Login Form -->
                    <!-- Logout Form -->
                        <div *ngIf="loginService.isLoggedIn" class="form-group">
                            <button (click)="logoutClicked()" type="submit" class="btn btn-primary btn-block">Logout</button>
                        </div>
                    <!-- Logout Form -->
                </form>
            <!-- /Form -->
        </div>
    </div>
<!-- Login/Logout Card -->