<div *ngIf="userRole == 'superAdmin' || userRole == 'groupAdmin'" class="card">
  <div class="card-body">
    <h4 class="card-title text-center mb-4 mt-1">Create Group</h4>
    <hr>
    <p class="text-success text-center" id="successFeedback">
      Group '{{successMessage}}' successfully created.
    </p>
    <div id="failFeedback">
        <div *ngFor="let failMessage of failMessages">
          <p class="text-danger text-center">{{failMessage}}</p>
        </div>
      </div>
    <hr id="feedbackBar">
    <form>
      <div class="form-group">
        <div class="input-group">
          <input
            class="form-control" type="text" placeholder="Name"
            id="groupFormName" [(ngModel)]="groupFormName" name="groupFormName"
          >
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block" (click)="createGroupClicked()">Create</button>
      </div>
    </form>
  </div>
</div>
